<div style="display:flex;flex-direction: row;  justify-content:center; height: 100%;">
    <mat-card class="mat-elevation-z6">
        <mat-card-title>
            <span style="text-align:center">
                EPAM, Hyderabad
            </span>
        </mat-card-title>
        <mat-card-subtitle>
            GLOBAL HEADQUARTERS - Newtown, Pennsylvania- U.S.
        </mat-card-subtitle>
        <mat-card-content>
            <div>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.5693213755158!2d78.381496!3d17.4324442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93e152224b79%3A0xf4ab3bded078553b!2sEPAM!5e0!3m2!1sen!2sin!4v1659510352947!5m2!1sen!2sin"
                    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </mat-card-content>
        <mat-card-footer>
            <strong>
                Techie Torrent Team
            </strong><br />
            Phone: (040)-999999999<br />
            Email: ttt@epam.com<br />
        </mat-card-footer>

    </mat-card>
    <!-- <mat-card style="width: 500px;"> -->
    <div class="container" style="width: 50%">
        <div style="text-align:center">
            <h2><u>Contact Us</u></h2>
        </div>
        <div class="row">
            <div style="text-align:center">
                <p>
                    Techie Torrent Institute of Engineering and Technology<br>
                    Hyderabad.</p>
                <p>techie_torrent@epam.com</p>
                <p>+91-9988775321</p>
            </div>
            <hr />
            <h2 style='text-align: center; text-decoration:underline;'> Leave us a message</h2>
            <div class="column" style="margin:auto; text-align:right;">
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>Your Name</mat-label>
                    <input matInput>
                </mat-form-field>
                <div class="example-container">
                    <mat-form-field appearance="fill" [style.width.%]="100">
                        <mat-label>Enter your email</mat-label>
                        <input matInput placeholder="pat@example.com" required>
                    </mat-form-field>
                </div>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>Country</mat-label>
                    <mat-select>
                        <mat-option value="India">India</mat-option>
                        <mat-option value="Ukrain">Ukraine</mat-option>
                        <mat-option value="UK">United Kingdom</mat-option>
                        <mat-option value="US">United States of America</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>Your Text</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
                <button mat-raised-button style="background: green; color: #fff;">Submit</button>
            </div>
        </div>
    </div>
    <!-- </mat-card> -->
</div>