<div class="aboutmain">
    <div class="left">
        <p>
            Techie Torrent Institute is a dynamic and growth oriented institute, established by Global Education Trust,
            Hyderabad in the year 2002 to impart graduate and post- graduate level educational programmes to equip
            students for
            a meaningful career. These educational programmes enables the students to compete in today’s demanding
            economy of
            an inter-connected world. Techie Torrent Institute has always maintained its commitment to provide overall
            growth
            of students through innovative teaching methodology and training them in Personality Development and Soft
            Skill
            programmes.
            Techie Torrent Institutes offer MBA, MBA (Integrated), MCA, MCA (Integrated) BBA, BCA, B.Com, BA and B.Ed.
            programmes. These programmes are approved by All India Council for Technical Education (AICTE), Ministry of
            Human
            Resource Development, Government of India and affiliated to Dr. A.P.J. Abdul Kalam Technical University
            (AKTU)
            Lucknow and Chaudhary Charan Singh University (CCSU), Meerut.
            Techie Torrent Institute is strategically located in the most promising and secure city of Greater Noida
            with close
            proximity to the world of business and industries. Global Institute is in Knowledge Park-I, an area
            specifically
            earmarked by Greater Noida Industrial Development Authority for Educational Institutes. The fresh graduates
            have
            ample opportunities available to them due to the ever growing industrial zone in the area.
        </p>
    </div>
    <div class="right">
        <h3>Vision</h3>
        <p>
            “To emerge as a center of excellence for education and research comparable with the best in the world.”
        </p>
        <h3>Mission</h3>
        <p>
            “To provide quality education and research environment through continuous learning and strategic partnership
            with
            the
            industry.”
        </p>
        <h3>Qualilty Policy</h3>
        <p>
            “Continuously enhancing the capability of our faculty and students by keeping abreast of emerging trends,
            aligning
            teaching curriculum, equipping the campus with latest technologies to produce competitive professionals.”
        </p>
    </div>
</div>