.aboutmain {
    display: flex;
}

.left {
    flex: 1;
    border: 1px solid lightgray;
    padding: 5px;
}

.right {
    flex: 1;
    border: 1px solid lightgray;
    padding: 5px;
}

p {
    text-align: center;
    /* font-style: italic; */
    /* letter-spacing: 1.2px; */
    line-height: 26px;
    padding: 5px;
    margin-bottom: 5px;
    font-family: garamond;
    font-size: 1rem;
}

h3 {
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 2px;
    font-weight: bold;
    /* font-size: ; */
}