.filterOptions {
    display: flex;
    justify-content: space-evenly;
}

.filterOptions button {
    margin-right: 10px;
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
}

table tr>th {
    letter-spacing: 1px;
}

table tr>td {
    /* padding: 5px; */
    text-align: center;
    letter-spacing: 1px;
    /* border-bottom: 1px solid grey; */
}

table tr.active {
    /* background-color: #48da24; */
    background-color: #247cda94;
    color: white;
}

.tableSizeControl {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 2px;
    flex: stretch;
}

#sizeSelect {
    width: 50px;
    height: 20px;
}

button:focus {
    box-shadow: #000 0 -2px 5px 1px;
}