.example-spacer {
    flex: 1 1 auto;
}

.dimen {
    /* position: fixed; */
    width: 90%;
    /* height: 90%; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    overflow: auto;
}

button {
    letter-spacing: 1.5px;
    margin-right: 2px;
}

button:focus {
    box-shadow: rgb(234, 188, 188) 0 -2px 5px 2px;
}