<div>
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <a mat-icon-button routerLink="/">
      <mat-icon color="accent">school</mat-icon>&nbsp;
      <span>Techie Torrent</span>
    </a>
    <span class="example-spacer"></span>
    <!-- <a mat-button routerLink="/">Home</a> -->
    <button mat-button mat-flat-button color='accent' routerLink="/gradebook">Gradebook</button>
    <button mat-button routerLink="/about">About</button>
    <button mat-button routerLink="/contact">Contact</button>
    <button mat-button routerLink="/teamDetails">TeamDetails</button>
  </mat-toolbar>
</div>
<div class="dimen" style="margin-top: 5px;">
  <router-outlet></router-outlet>

</div>
<app-footer></app-footer>