<div>
    <div style="display: flex;  justify-content: space-evenly;">
        <div style="padding: 5px; margin-bottom: 5px;">
            <mat-card>
                <mat-card-title>
                    <img mat-card-avatar align="left" src="../../../assets/images/alex.jpg" />
                    <span style="padding: 5px">
                        Alexandra Trofimova
                    </span>
                </mat-card-title>
                <mat-card-subtitle>
                    Resource Development Lab Head, EPAM
                </mat-card-subtitle>
                <mat-card-content>
                    <span>
                        Project Manager, Techie Torrent Team - Resource Development Lab Head
                    </span>
                    <img mat-card-md-image src="../../../assets/images/alex.jpg" />
                </mat-card-content>
            </mat-card>
        </div>
        <div style="padding: 5px; margin-bottom: 5px;">
            <mat-card>
                <mat-card-title>
                    <img mat-card-avatar align="left" src="../../../assets/images/mukesh.jpg" />
                    <span style="padding: 5px">
                        Mukeshkumar Tivari
                    </span>
                </mat-card-title>
                <mat-card-subtitle>
                    Senior Software Engineer, EPAM
                </mat-card-subtitle>
                <mat-card-content>
                    <span>
                        Senior Software Engineer and Mentor for Team <strong>&quot;TechieTorrent&quot;</strong>
                    </span>
                    <img mat-card-md-image src="../../../assets/images/mukesh.jpg" />
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div style="display: flex;  justify-content: space-between;">
        <div style="padding: 5px; margin-bottom: 5px;">
            <mat-card>
                <mat-card-title>
                    <img mat-card-avatar align="left" src="../../../assets/images/afroz.jpg" />
                    <span style="padding: 5px">
                        Suhail Afroz
                    </span>
                </mat-card-title>
                <mat-card-subtitle>
                    Junior Software Engineer, EPAM
                </mat-card-subtitle>
                <mat-card-content>
                    <span>
                        Team Member, Techie Torrent Team - Junior Software Engineer
                    </span>
                    <img mat-card-md-image src="../../../assets/images/afroz.jpg" />
                </mat-card-content>
            </mat-card>
        </div>

        <div style="padding: 5px; margin-bottom: 5px;">
            <mat-card>
                <mat-card-title>
                    <img mat-card-avatar align="left" src="../../../assets/images/nagesh.jpg" />
                    <span style="padding: 5px">
                        SeethaRam Nagesh A
                    </span>
                </mat-card-title>
                <mat-card-subtitle>
                    Junior Software Engineer, EPAM
                </mat-card-subtitle>
                <mat-card-content>
                    <span>
                        Team Member, Techie Torrent Team - Junior Software Engineer
                    </span>
                    <img mat-card-md-image src="../../../assets/images/nagesh.jpg" />
                </mat-card-content>
            </mat-card>
        </div>
        <div style="padding: 5px; margin-bottom: 5px;">
            <mat-card>
                <mat-card-title>
                    <img mat-card-avatar align="left" src="../../../assets/images/subbarao.jpg" />
                    <span style="padding: 5px">
                        Subba Rao K
                    </span>
                </mat-card-title>
                <mat-card-subtitle>
                    Junior Software Engineer, EPAM
                </mat-card-subtitle>
                <mat-card-content>
                    <span>
                        Team Member, Techie Torrent Team - Junior Software Engineer
                    </span>
                    <img mat-card-md-image src="../../../assets/images/subbarao.jpg" />
                </mat-card-content>
            </mat-card>
        </div>
        <div style="padding: 5px; margin-bottom: 5px;">
            <mat-card>
                <mat-card-title>
                    <img mat-card-avatar align="left" src="../../../assets/images/tanyagera.jpg" />
                    <span style="padding: 5px">
                        Dr. Tanya Gera
                    </span>
                </mat-card-title>
                <mat-card-subtitle>
                    Junior Software Engineer, EPAM
                </mat-card-subtitle>
                <mat-card-content>
                    <div style="margin-left:auto; margin-right:auto;">
                        <span>
                            Team Member, Techie Torrent Team - Junior Software Engineer
                        </span>
                        <img mat-card-md-image src="../../../assets/images/tanyagera.jpg" />
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>